TELEGRAM_BOT_TOKEN=
SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
POLL_INTERVAL_MS=3000
DB_PATH=./data/buybot.sqlite
SUI_USD_PRICE=
SUI_PRICE_TTL_MS=300000
CLEAR_CURSOR_ON_BOOT=false
BACKUP_SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
